.login-container{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  max-width: 100vh;
  /* put items in center */
  margin: 0 auto;
  box-sizing: border-box;
}
.login-container h1{
  text-align: center;
}


.login-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 50px 30px 50px;
}
.input-container{
  display: flex;
  flex-direction: column;
  height: 60px;
}
.input-container input{
  flex-grow: 1;
  border: 1px solid rgba(209, 213, 219);
}

.input-container > input:first-of-type {
    border-radius: 6px 6px 0px 0px;
}

.input-container > input:last-of-type {
    border-radius: 0px 0px 6px 6px;
}
.login-button{
  flex: 1;
  background-color: #FF8C38;
  border: none;
  border-radius: 6px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
  
}
.login-button:hover{
  cursor: pointer;
}
