.App{
  background-color: rgba(255, 247, 237, 1);
  padding-top: 79px;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}


.header{
  font-family: 'Inter', sans-serif;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;  
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 26.79px;
  z-index: 1000;
  
  background-color: rgba(255, 247, 237, 1);
}
.header a {
  text-decoration: none;
}

.left-section{
  flex: 1;
  padding-left: 10px;
}
.site-logo{
  text-align: center;
  font-style: Black;
  font-size: 25.35px;
  color: black;
  font-weight: bold;
}
.nav-bar{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  gap: 20px;
}
.nav-bar a{
  color: rgba(77, 77, 77, 1);
  font-size: 16px;
}
.nav-bar a:hover,
.host-nav a:hover,
.host-nav-container a.active:hover,
.host-nav a.active, 
.nav-bar a.active,
.host-nav-container a.active{
  text-decoration: underline;
  font-weight: bold;
}
.host-nav a.active, 
.nav-bar a.active,
.host-nav-container a.active{
  color: #161616;
  pointer-events: none;
}
.login-link{
  display: flex;
  align-items: center;
  justify-content: center;

}
.login-icon{
  width: 70%;
}




.van-life-button{
  font-weight: 500;
  font-size: 12px;
  /* or 164% */
  text-align: center;
  color: rgba(170, 170, 170, 1);
  background-color: rgba(37, 37, 37, 1);
  padding-top: 25.68px;
  padding-bottom: 25.15px;
  cursor: pointer;
  border: none;
}

.host-nav{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.host-nav a{
  color: rgba(77, 77, 77, 1);
  text-decoration: none;
}
