Link > *{
  color: black;
}
.vans-container{
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  word-wrap: break-word;
  padding: 54.23px 28.9px 83.23px 26.91px;
  gap: 55.69px;
}
.vans-container a{
  color: black;
  text-decoration: none;
}
.vans-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 22.39px;
}

.explore-vans{
  font-weight: bold;
  font-size: 25.35px;
}
.search-vans{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.buttons-search-container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
  
}
.buttons-search-container button{
  background-color: rgba(255, 234, 208, 1);
  border: none;
  border-radius: 5px;
  padding: 6px 26px 7px 26px;
  color: rgba(77, 77, 77, 1);
  font-size: 16px;
  margin: 0;
}
.simple-filter,
.luxury-filter,
.rugged-filter{
  text-decoration: underline;
  cursor: pointer;
}


.simple-filter.selected,
.luxury-filter.selected,
.rugged-filter.selected{
  color: white;
  cursor: not-allowed;
  pointer-events: none;
}
.simple-filter:hover,
.luxury-filter:hover,
.rugged-filter:hover{
  color: white;
}
.simple-filter:hover,
.simple-filter.selected{
  background-color: #E17654;
}

.luxury-filter:hover,
.luxury-filter.selected{
  background-color: #161616;
  
}
.rugged-filter:hover,
.rugged-filter.selected{
  background-color: #115E59;
}

.clear-filters {
  text-decoration: underline;
  color: rgba(77, 77, 77, 1);
  font-size: 16px;
  background-color: inherit;
  border: none;
}
.clear-filters:hover{
  cursor: pointer;
  font-weight: bold;
}

.clear-container{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.vans-grid{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  column-gap: 33.89px;
  row-gap: 26.91px;
}
@media (max-width: 750px) {
  .vans-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 750px) and (min-width: 999px){
  .vans-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .vans-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.van-preview{
  display: flex;
  flex-direction: column;
  gap: 9.97px;
}

.van-picture{
  width: 100%;
  border-radius: 5px;
}
.van-details {
  display: flex;
}
.right-detail, 
.left-detail{
  flex: 1;
  display: flex;
}
.left-detail{
  flex-direction: column;
  align-items: flex-start;
  gap: 10px; 
  width: 0;
}
.van-name{
  overflow-wrap: break-word;
}
.van-name, .van-price{
  font-weight: 600;
}
.right-detail{
  flex-direction: column;
  align-items: flex-end;
}
.van-per-day{
  font-size: 14px;
}
